export GCX_CONFIG="$(pwd)/gcx-config.yaml"
export GRAFANA_PASSWORD="Sup3rStr0ngP@ss2026!"

export GCP_SERVICE_ACCOUNT_TOKEN=$(op read "op://Lab/GCP Grafana Cloud Service Account/notes")
export GCP_CLIENT_EMAIL=$(echo ${GCP_SERVICE_ACCOUNT_TOKEN} | jq -r '.client_email')
export GCP_PROJECT=$(echo ${GCP_SERVICE_ACCOUNT_TOKEN} | jq -r '.project_id')