services:
  grafana:
    image: grafana/grafana:latest
    environment:
      # - GF_PLUGINS_PREINSTALL_SYNC=yesoreyeram-infinity-datasource,grafana-mongodb-datasource,grafana-googlesheets-datasource
      GF_PLUGINS_PREINSTALL_SYNC: grafana-googlesheets-datasource,yesoreyeram-infinity-datasource
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      GF_AUTH_DISABLE_LOGIN_FORM: true
      GF_AUTH_BASIC_ENABLED: false
      GF_FEATURE_TOGGLES_ENABLE: provisioning,kubernetesDashboards
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
    ports:
      - "3000:3000"
    volumes:
      - ./provisioning:/etc/grafana/provisioning
    #   - ./data:/var/lib/grafana
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:3000/api/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12

  renderer:
    image: grafana/grafana-image-renderer:latest